
<h1 class="h-12 font-bold">Feed</h1>
<p>Le jour où #facebook prendra le dessus sur #quora, le respect et l'authenticité de Quora prendront le dessus. Si cela se produit, je pourrais désactiver mon compte. Le temps de repos décidera.</p>
