<div class="row">
  <div class="col-12 col-md-2 col-lg-2 md:ml-8">
    <%= render "shared/feed/sidebar" %>
  </div>
  <div class="col-12 col-md-6 col-lg-6">
    <%= render "shared/feed/feed_course" %>
  </div>
</div>
