<div class="row">
  <div class="col-12 col-md-6 ml-16">

    <p class="font-bold">
      <%= @course.title %>
    </p>

    <div class="card" >
      <span class="m-2">

      <%= @course.content %>
      </span>
    </div >
    <%= link_to 'Modifier', edit_course_path(@course), class: 'btn btn-success m-2' %>

  </div>
  <div class="col-12 col-md-4">
    <p>Ceci est juste un exemple que les gens ont travaillé dur et ont réussi. Et cette réponse est de manière inclusive afin que toutes les personnes que vous avez dites puissent être ajoutées dans cette réponse. Le but de cette réponse était que nous ne sommes connus que par notre travail. Merci.</p>
  </div>
</div>
