<p class="mt-2">
  Consumer goods: Nike.
How did a company in a super competitive space become the undisputed leader with over 60% market share in North America? Why did the market for athletic shoes play out so much differently than the market for non-athletic shoes (which continues to be super fragmented)? We can all learn a lot from Nike (company).

</p>
<p class="mt-2">
Consumer goods: Luxottica.
Like Nike in sneakers, how did one company completely dominate the sunglasses market? How does one company own the dominant sunglasses retailer (Sunglass Hut) AND pretty much all the brands that retailer sells (like Oakley and Ray-Ban)? Why has it been so hard for other companies to compete with Luxottica in what should be a fairly competitive market?

</p>
